body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f05e39, #60d1f4);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

#player-name {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-bottom: auto;
}

/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 2px #000000;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* .piece.p1 {
  background-color: rgba(250, 36, 36, 0.664);
}

.piece.p2 {
  background-color: rgb(5, 5, 252);
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
